form {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
}

form .emailPhone {
  visibility: hidden;
}

form h3 {
  border-bottom: solid #009176 1px;
}

form h3 i {
  border: solid #009176 1px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

form input, form textarea {
  width: 100%;
}

form input {
  height: 25px;
  margin: 2% 5px 2% 0;
  padding-right: 30px;
}

form label i {
  border-top: solid #645E4E 1px;
  border-bottom: solid #645E4E 1px;
  border-left: solid #645E4E 1px;
  border-radius: 5px 0 0 5px;
  padding: 6px;
  margin: 5px 0;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 130px;
  width: 100%;
}

form div .name_form, form div .password_form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form div .name_form div, form div .password_form div {
  margin-right: 5px;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

form div .name, form div .password_double_check {
  width: 100%;
}

form div #postcode {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

form div #password, form div #password_bis {
  padding-right: 30px;
}

form div .eye, form div .eye_close, form div .publication, form div .check, form div .nocheck {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

form div .check, form div .nocheck, form div .eye_close {
  display: none;
}

form div .check {
  color: green;
}

form div .nocheck {
  color: red;
}

form div #publication_date {
  padding-right: 30px;
}

form .info_creation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .option {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .option .payment_option, form .option .format_form {
  width: 50%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

form .option .payment_option input, form .option .format_form input {
  width: initial;
}

form .option .payment_option img, form .option .format_form img {
  height: 40px;
}

form .option .infi_sup, form .option .radio {
  width: 100%;
}

form .option .infi_sup label, form .option .radio label {
  margin-right: 5px;
}

form .option .radio {
  text-align: left;
}

form .help {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .help div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 20px;
}

form .help div small {
  text-align: left;
}

form .help div .help_input {
  position: relative;
  width: 160px;
  margin: 2% 10px 2% 0;
}

form .help div .help_input .check, form .help div .help_input .nocheck {
  right: 20px;
}

form .help div .help_input input {
  max-width: 150px;
  padding-right: 25px;
}

form .help div .help_input .input_tooltip {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  min-width: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: help;
  margin: 0;
}

form .help div .help_input .info_help, form .help div .help_input .expiration_date, form .help div .help_input .date_form {
  position: relative;
}

form .help div .help_input .info_help .tooltip, form .help div .help_input .expiration_date .tooltip, form .help div .help_input .date_form .tooltip {
  visibility: hidden;
  width: 125px;
  background-color: #645E4E;
  color: #f9f5eb;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-left: -60px;
}

form .help div .help_input .info_help .tooltip::after, form .help div .help_input .expiration_date .tooltip::after, form .help div .help_input .date_form .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #645E4E transparent;
}

form .help div .help_input .info_help:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

form .help div .help_input .expiration_date:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

form .name, form .password_double_check, form .locate {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .locate .postcode_form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

form .date_form {
  width: 66%;
}

form .date_form input {
  margin-left: 10px;
}

form .img {
  background-color: #ffffff;
  color: #645E4E;
  position: relative;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin: 2% 5px 2% 0;
}

form .img div:nth-child(2) {
  width: 100%;
  height: 30px;
  border-radius: 5px 2px 2px 5px;
  border: solid #645E4E 1px;
}

form .img div:nth-child(2) div {
  border: none;
}

form .img div:nth-child(2) .img_label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: initial;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  border-right: solid #645E4E 1px;
  background-color: #f9f5eb;
}

form .img div:nth-child(2) .img_input p {
  padding-left: 5px;
  font-weight: lighter;
}

form .img #img_logo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
}

form input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

@media screen and (min-width: 450px) {
  form .info_creation {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  form .info_creation .writer_form {
    width: 50%;
  }
}

@media screen and (min-width: 750px) {
  form {
    width: 75%;
  }
  form div .name_form, form div .password_form {
    width: 50%;
  }
  form .locate_form {
    width: 33%;
  }
}

@media screen and (min-width: 1000px) {
  form .option .payment_option {
    width: 25%;
  }
  form .option .info_supp, form .option .radio {
    width: 50%;
  }
}
/*# sourceMappingURL=form.css.map */