.book3d {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  padding: 70% 50%;
  margin: 12.5% 0;
  -webkit-perspective: 1800px;
          perspective: 1800px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.book3d ul {
  list-style: none;
}

.book3d::after {
  content: "";
  position: absolute;
  width: 97.5%;
  height: 20%;
  background-color: rgba(25, 25, 25, 0.15);
  -webkit-transform: rotateZ(6deg) rotateX(70deg) rotateY(0deg);
          transform: rotateZ(6deg) rotateX(70deg) rotateY(0deg);
  -webkit-box-shadow: 0 0 10px 5px rgba(25, 25, 25, 0.15);
          box-shadow: 0 0 10px 5px rgba(25, 25, 25, 0.15);
  left: 0;
  top: 90%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  mix-blend-mode: screen;
}

.book3d .hardcover_front {
  -webkit-transform: rotateY(-36deg) translateZ(-6px);
          transform: rotateY(-36deg) translateZ(-6px);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: all 0.8s ease, z-index 0.6s;
  transition: all 0.8s ease, z-index 0.6s;
}

.book3d .hardcover_front li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.book3d .hardcover_front li:first-child {
  background-color: #eee;
  background-size: 100% 100%;
  background-position: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateZ(4px);
          transform: translateZ(4px);
}

.book3d .hardcover_front li:first-child:after {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book3d .hardcover_front li:first-child:before {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
          transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.book3d .hardcover_front li:last-child {
  background: #fffbec;
  -webkit-transform: rotateY(180deg) translateZ(-3px);
          transform: rotateY(180deg) translateZ(-3px);
}

.book3d .hardcover_front li:last-child:after {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 160px;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}

.book3d .hardcover_front li:last-child:before {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 160px;
  -webkit-box-shadow: 0px 0px 30px 5px #333;
          box-shadow: 0px 0px 30px 5px #333;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

.book3d .hardcover_back {
  -webkit-transform: rotateY(-21deg) translateZ(-8px);
          transform: rotateY(-21deg) translateZ(-8px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.book3d .hardcover_back li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.book3d .hardcover_back li:first-child {
  background: #fffbec;
  -webkit-transform: translateZ(2px);
          transform: translateZ(2px);
}

.book3d .hardcover_back li:first-child:after {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book3d .hardcover_back li:first-child:before {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
          transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.book3d .hardcover_back li:last-child {
  background: #fffbec;
  -webkit-transform: translateZ(-2px);
          transform: translateZ(-2px);
}

.book3d .hardcover_back li:last-child:after {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 160px;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.book3d .hardcover_back li:last-child:before {
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 160px;
  -webkit-box-shadow: 10px -1px 80px 20px #666;
          box-shadow: 10px -1px 80px 20px #666;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

.book3d .page {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 98%;
  top: 1.5%;
  left: 3%;
  z-index: 10;
  -webkit-transform: translateZ(-2px);
          transform: translateZ(-2px);
}

.book3d .page > li {
  background: -webkit-gradient(linear, left top, right top, from(#e1ddd8), to(#fffbf6));
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  -webkit-box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
          box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.book3d .page > li:nth-child(1) {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.book3d .page > li:nth-child(2) {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.book3d .page > li:nth-child(3) {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.book3d .page > li:nth-child(4) {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.book3d .page > li:nth-child(5) {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.book3d .page li:nth-child(1) {
  -webkit-transform: rotateY(-28deg);
          transform: rotateY(-28deg);
}

.book3d .page li:nth-child(2) {
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
}

.book3d .page li:nth-child(3) {
  -webkit-transform: rotateY(-32deg);
          transform: rotateY(-32deg);
}

.book3d .page li:nth-child(4) {
  -webkit-transform: rotateY(-34deg);
          transform: rotateY(-34deg);
}

.book3d .page li:nth-child(5) {
  -webkit-transform: rotateY(-36deg);
          transform: rotateY(-36deg);
}

.book3d:hover::after {
  -webkit-transform: rotateZ(10deg) rotateX(50deg) rotateY(0deg);
          transform: rotateZ(10deg) rotateX(50deg) rotateY(0deg);
}

.book3d:hover > .hardcover_front {
  -webkit-transform: rotateY(-55deg) translateZ(-6px);
          transform: rotateY(-55deg) translateZ(-6px);
  z-index: 15;
}

.book3d:hover > .page li:nth-child(1) {
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.book3d:hover > .page li:nth-child(2) {
  -webkit-transform: rotateY(-35deg);
          transform: rotateY(-35deg);
  -webkit-transition-duration: 1.8s;
          transition-duration: 1.8s;
}

.book3d:hover > .page li:nth-child(3) {
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
  -webkit-transition-duration: 1.6s;
          transition-duration: 1.6s;
}

.book3d:hover > .page li:nth-child(4) {
  -webkit-transform: rotateY(-45deg);
          transform: rotateY(-45deg);
  -webkit-transition-duration: 1.4s;
          transition-duration: 1.4s;
}

.book3d:hover > .page li:nth-child(5) {
  -webkit-transform: rotateY(-50deg);
          transform: rotateY(-50deg);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

:root {
  --titlesize: 6rem;
}

.book_3d:hover {
  -webkit-transform: rotateY(34deg);
          transform: rotateY(34deg);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .spine {
  width: 0%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .cover-back {
  width: 109%;
  height: 98%;
  left: 5%;
  top: 3%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .pages {
  top: 3%;
  height: 98%;
  width: 103.4%;
  left: 2.3%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .pages span {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  content: "";
  left: 0.4%;
}

.book_3d:hover .pages span:nth-child(2) {
  width: 106.2%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .pages span:nth-child(3) {
  width: 105.6%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .pages span:nth-child(4) {
  width: 105%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d:hover .pages span:nth-child(5) {
  width: 104.6%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.book_3d {
  display: block;
  width: 430px;
  height: 680px;
  margin: auto;
  position: relative;
  z-index: 0;
  -webkit-transform: scale(0.9) rotateX(10deg) rotateY(-30deg) rotateZ(0.2deg) translateX(-15px);
          transform: scale(0.9) rotateX(10deg) rotateY(-30deg) rotateZ(0.2deg) translateX(-15px);
}

.cover-back, .pages, .cover_front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0 6px 6px 0;
  -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.9);
          box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.9);
  position: absolute;
}

.cover-back {
  width: 108.7%;
  top: 0.4%;
  left: -4.93%;
  background: #f1f1ef;
}

.pages {
  width: 103.4%;
  height: 96%;
  top: 1.35%;
  left: -0.3%;
  background: #e0ddd7 linear-gradient(to bottom, transparent 2px, #999 2px, transparent 4px);
}

.pages span {
  content: "";
  display: block;
  width: 103.8%;
  height: 100%;
  top: 1px;
  left: -3.4%;
  position: absolute;
  background: #e0ddd7;
  -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.9);
          box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.9);
}

.pages span:nth-child(2) {
  top: 4px;
  width: 104.6%;
}

.pages span:nth-child(3) {
  top: 6px;
  width: 105%;
}

.pages span:nth-child(4) {
  top: 8px;
  width: 105.6%;
}

.pages span:nth-child(5) {
  top: 10px;
  width: 106.2%;
}

.cover_front {
  top: 3%;
  left: 0.8%;
  width: 109%;
  background: #f3f3f0 url(../image/hobbit.jpg) center no-repeat;
  background-size: cover;
}

.cover_front .title {
  display: inline-block;
  color: white;
  position: absolute;
  top: 8%;
  left: 16%;
  width: 62%;
  font-size: var(--titlesize);
  font-family: sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  text-align: left;
}

.spine {
  display: block;
  height: 100%;
  width: 10%;
  background: #000;
  position: absolute;
  top: 1.9%;
  left: -6.6%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(50deg) rotateZ(0deg) skew(0.19deg, 22deg);
          transform: rotateX(0deg) rotateY(50deg) rotateZ(0deg) skew(0.19deg, 22deg);
}

.spine span {
  display: inline-block;
  color: white;
  position: absolute;
  bottom: 15%;
  left: -30%;
  width: 200%;
  height: 5%;
  -webkit-transform: rotate(-94deg);
          transform: rotate(-94deg);
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
}

.spine-shadow {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  width: 1.6%;
  height: 100%;
  position: absolute;
  top: 3%;
  left: 3.8%;
}

.cover-back {
  z-index: 1;
}

.pages {
  z-index: 2;
}

.cover_front {
  z-index: 5;
}

.spine {
  z-index: 6;
}

.spine-shadow {
  z-index: 7;
}

@media (max-width: 700px) {
  :root {
    --titlesize: 3rem;
  }
  .book_3d {
    width: 230px;
    height: 380px;
  }
  .spine span {
    display: none;
  }
}

section .book_info .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .book_info .cover img {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

section .book_info .cover .menu {
  width: 100%;
  margin-top: 20px;
}

section .book_info .cover .menu .menu_info, section .book_info .cover .menu .menu_synopsis {
  margin: 0 20px 0 0;
  padding: 0 10px 0 10px;
  display: inline-block;
}

section .book_info .cover .menu .menu_synopsis {
  border-radius: 5px 5px 0 0;
  border-top: solid #009176 1px;
  border-left: solid #009176 1px;
  border-right: solid #009176 1px;
}

section .book_info .cover .menu hr {
  margin: 0;
  width: 75vw;
  color: #009176;
}

section .book_info .info {
  display: none;
}

section .book_info .synopsis {
  line-height: 2em;
}

section .book_info .synopsis::first-letter {
  font-family: 'Fleur De Leah', cursive;
  font-weight: bold;
  font-size: xx-large;
  color: #009176;
}

section .book_info .price {
  color: #009176;
  font-weight: bold;
}

section .avatar_img {
  text-align: center;
  display: block;
  font-size: 5em;
  color: #009176;
}

@media screen and (min-width: 1100px) {
  section .book_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  section .book_info .info {
    display: block;
    width: 50%;
  }
  section .book_info .info p {
    font-size: x-large;
  }
  section .book_info .menue_info {
    display: none;
  }
  section .book_info .synopsis {
    width: 100%;
    margin-right: auto;
  }
}
/*# sourceMappingURL=sheet.css.map */